
.content--font {
	.title-wrapper {
		margin-bottom: 1rem;
		margin-right: auto;
		@media screen and (min-width: $screen-lg-min) {
			font-size: 2.5rem;
			margin-bottom: 2rem;
		}
		h1 {
			font-size: 3rem;
			color: #1E1E25;
			font-weight: 700;
			@media screen and (min-width: $screen-lg-min) {
				font-size: 5rem;
			}
		}
		dl {
			flex-basis: 150px;
			margin-right: 30px;
		}
	}
	.content-wrapper {
		border-bottom: 1px solid $color-border;
		padding-bottom: 1rem;
		@media screen and (min-width: $screen-lg-min) {
			padding: 2rem 0;
		}
		& > div {
			display: flex;
			align-items: center;
		}
		.variant {	
			letter-spacing: 0.055em;
			color: #898989;
			text-transform: uppercase;
			font-size: .75rem !important;
			font-family: $font-secondary;
		}
		.title {
			margin-right: auto;
			line-height: 1.35em;
			/* 
			font-size: 2rem; */
			@include nowrap();
		}
	}
	.meta-wrapper {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: $screen-lg-min) {
			flex-direction: row;
			padding: 3rem 0 2rem;
		}
		dl {
			@media screen and (min-width: $screen-lg-min) {
				flex-basis: 13rem;
			}
		}
	}
}

$base-color: #036;
$font-size-base : 16px;
$font-size-upper : 44px;
$font-size-upper-mobile : 28px;
$font-size-dec : 6px;

@for $i from 0 through 25 {
	.content-wrapper .textsize-#{$i} {
		font-size: ($font-size-upper-mobile / $font-size-base) + rem;
		@media screen and (min-width: $screen-lg-min) {
			font-size: ($font-size-upper / $font-size-base) + rem;
		}
	}
	$font-size-upper : $font-size-upper + $font-size-dec;
}
