
#app.distraction-mode {
	.topbar, .settings, .fontlist {
		opacity: 0;
		visibility: hidden;
	}
	.content .nav {
		display: none;
	}
	.content--typography {   
		position: fixed;
		top: 60px;
		bottom: 60px;
		left: 0;
		right: 0;
		margin: 0;
		padding: 0 0 50px;
		overflow-y: scroll;
		.inside {
			max-width: 850px;
			margin: auto;
			&:hover {
				.addnew {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.addnew {
			opacity: 0;
			visibility: hidden;
		}
	}
	.btn--close-distraction {
		opacity: 1;
		visibility: visible		
	}
}