
.form-group {
	margin-bottom: 2rem;
	.field-title {
		display: block;
		margin-bottom: .5rem;
		font-weight: 700;
		font-family: $font-secondary;
		.link {
			color: $color-primary;
		}
	}
	&__small {
		font-size: .85rem;
		line-height: 1.2;
		display: block;
		margin-top: .5rem;
		opacity: .8;
	}
}

.form-control {
	font: 400 .8rem $font-primary;
    color: $color-black;
	width: 100%;
	height: 35px;
	padding: 6px 8px;
    box-shadow: none;
	background-color: #fff;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	&:focus {
		outline-color: $color-primary !important;
	}
	/* &:disabled {
		opacity: .2;
	}
	~ .field-title {
		opacity: .2 !important;
	} */
}

label {
	cursor: pointer;
}

select {
	text-transform: capitalize;
	color: #495057;
}

.checkbox {
    margin-bottom: .5rem;
    margin-left: .5rem;
	label {
		font-size: .85rem;
		font-weight: 500;
		display: block;
		position: relative;
		padding-left: 2rem;
		cursor: pointer;
		&:first-letter {
			text-transform: uppercase;
		}
	}
	/* span {
		transition: opacity 250ms;
	} */
	input {
		position: absolute;
		left: 0;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
	/* 	&:disabled {
			~ span.label {
				cursor: default;
				opacity: .2;
				.sublabel {
					display: inline-block;
					opacity: .2;
				}
			}
			&:checked {
				~ .checkbox__indicator {
					background: rgba($color-primary, .5) !important;
					opacity: .2;
				}
			}
		} */
		&:checked {
			~ .checkbox__indicator {
				background: linear-gradient(to bottom right, $color-primary, lighten($color-primary, 5%));
				&:after {
					display: block;
				}
			}
		}
		/* &:not(:checked) {
			~ .label {
				opacity: .6;
			}
		} */
	}
	&__indicator {
		position: absolute;
		top: 0px;
		left: 0;
		height: 17px;
		width: 17px;
		background: linear-gradient(to bottom right, #dedede, #eee);
		border-radius: 3px;
		&:after {
			content: '';
			position: absolute;
			display: none;
			left: 7px;
			top: 4px;
			width: 4px;
			height: 8px;
			border: solid #fff;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}
}





