
.loader {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	div {
		animation: v-clipDelay 0.75s 0s infinite linear;
		animation-fill-mode: both;
		display: inline-block;
		height: 45px;
		width: 45px;
		border-width: 2px;
		border-style: solid;
		border-color: rgb(93, 197, 150) rgb(93, 197, 150) transparent;
		border-radius: 100%;
		background: transparent;
	}
}

@keyframes v-clipDelay {
	0% {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(180deg) scale(0.8);
	}
	100% {
		transform: rotate(360deg) scale(1);
	}
}