html {
    font-size: 14px;

    @media screen and (min-width: 992px) {
        font-size: 15px;
    }
}

body {
	font: 400 1rem $font-primary;
	color: #444;
}

h1 {
	font-size: 1.25rem;
	line-height: 1;
	margin-bottom: 1.75rem;
	@media screen and (min-width: $screen-lg-min) {
		font-size: 2rem;
	}
}

h2 {
	font-size: 1.25rem;
	margin-bottom: 1rem;
	@media screen and (min-width: $screen-lg-min) {
		font-size: 1.75rem;
	}
}

h3 {
	font-size: 1.25rem;
}

p, ul {
	font-size: 1rem;
	line-height: 1.5em;
	margin-bottom: .75rem;
}

.content {
	div, p, ul {
		font-size: 1rem;
		line-height: 1.65;
	}
	&--help {
		div, p, ul {
			font-size: 1rem;
		}
	}
	h3 {
		font-weight: 800;
	}
}