
a {
	text-decoration: none;
	color: $color-black;
	transition: all 250ms;
	&:hover, &:focus {
		text-decoration: none;
	}
	&.link {
		color: $color-primary;
		text-decoration: underline;
	}
/* 	&.router-link-active {
		color: initial !important;
	} */
}

.btn {
	font-family: $font-primary;
	font-size: 1rem;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	&:hover, &:focus, &:focus:active {
		outline: none;
		box-shadow: none;
	}
	&--nav {
		padding: 10px 0;
		margin-right: 40px;
	}
	&--favorite {
		background: $color-primary;
		color: #fff;
		font-weight: 600;
		text-decoration: none;
		padding: .5rem 1rem !important;
		text-decoration: none !important;
		&:hover, &:focus {
			background: lighten($color-primary, 5%) !important;
			color: #fff !important;
		}
	}
}


.text-center {
	text-align: center;
}


dl {
	dt {
		letter-spacing: 0.055em;
		color: #898989;
		text-transform: uppercase;
		font-size: .75rem !important;
		font-family: $font-secondary;
		margin-top: .75rem;
		margin-bottom: .5rem;
	}
	dd {

	}
}

strong {
	font-weight: 700;
}


// Scrollbar
::-webkit-scrollbar {
	width: 8px;
	background-color: #eee;
}
::-webkit-scrollbar-thumb {
	background-color: #ccc;
}
::-webkit-scrollbar-track {
	background-color: #eee;
}